    
<footer class="bg-dark text-light">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
        <p class="font-italic text-warning">Connect with us on social media.</p>
        <ul class="list-inline mt-4">
          <li class="list-inline-item"><a href="https://twitter.com/" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://facebook.com/" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://instagram.com/" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://pinterest.com/" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
          <li class="list-inline-item"><a href="https://vimeo.com/" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold text-warning mb-4">About Us</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a routerLink="" class="text-light">Latest News</a></li>
          <li class="mb-2"><a routerLink="" class="text-light">Players Room</a></li>
          <li class="mb-2"><a routerLink="" class="text-light">Media Gallery</a></li>
          <li class="mb-2"><a routerLink="" class="text-light">Feedback</a></li>
          <li class="mb-2"><a routerLink="" class="text-light">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold text-warning mb-4">Information</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a routerLink="" class="text-light">FIFA 2019</a></li>
          <li class="mb-2"><a routerLink="" class="text-light">Olympics</a></li>
          <li class="mb-2"><a routerLink="" class="text-light">NFL 2019</a></li>
          <li class="mb-2"><a routerLink="" class="text-light">NBA 2019</a></li>
          <li class="mb-2"><a routerLink="" class="text-light">Boxing</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold text-warning mb-4">Newsletter</h6>
        <p class="mb-4">Get the latest news on sports, direct to you inbox. We promise not to spam you</p>
        <div class="p-1 rounded border">
          <div class="input-group">
            <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-warning"><i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-warning py-4">
    <div class="container text-center">
      <p class="text-dark font-weight-bold mb-0 py-2">© {{year}} ByteWorks Football Club, All rights reserved.</p>
    </div>
  </div>
</footer>
        
        