<div class="container py-5">

<main role="main" id="top">

<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="line-scale">
    <p class="text-center" style="font-size: 20px; color: white">Loading Football Data...</p>
</ngx-spinner>

<div class="leagues-sub-head">
    <div (click)="EPL()"> EPL </div>
    <div (click)="laLiga()">LA LIGA</div>
    <div (click)="ItalySerieA()">SERIE A</div>
    <div (click)="UCL()">UCL</div>
    <div (click)="EnglandChampionship()">CHAMPIONSHIP</div>
    <div (click)="FIFAWorldCup()">WORLD CUP</div>
</div>

<div class="image-banner">
    <img src="assets/wallpaper-1846931.png" alt="image-banner">
    <h1> {{competitionAreaName}} - {{competitionName}} </h1>
</div>

<section class="text-center container1">

</section>

<section>

    <div class="text-center display-4" *ngIf="!teamsStandingTable"> No data to display </div>

    <!-- check to see if user clicked UEFA Champions League OR FIFA World Cup-->
    <div *ngIf="teams.competition.id == 2001 || teams.competition.id == 2000">
        <div *ngFor="let standings of UCLTeamsStandings; index as j">
            <div *ngIf="j % 3 === 0" class="py-4">
                <div class="text-center display-4 pb-3"> {{standings.group.replace('_', ' ')}} </div>
                <table class="table table-striped table-responsive-lg table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Team</th>
                                <th scope="col">Played</th>
                                <th scope="col">Points</th>
                                <th scope="col">Won</th>
                                <th scope="col">Drawn</th>
                                <th scope="col">Lost</th>
                                <th scope="col">GF</th>
                                <th scope="col">GA</th>
                                <th scope="col">GD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let team of teamsStandingTable; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>
                                <img src={{standings.table[i].team.crestUrl}} class="mr-2" style="width: 20px">
                                {{ standings.table[i].team.name }}
                                </td>
                                <td>{{ standings.table[i].playedGames }}</td>
                                <td>{{ standings.table[i].points }}</td>
                                <td>{{ standings.table[i].won }}</td>
                                <td>{{ standings.table[i].draw }}</td>
                                <td>{{ standings.table[i].lost }}</td>
                                <td>{{ standings.table[i].goalsFor }}</td>
                                <td>{{ standings.table[i].goalsAgainst }}</td>
                                <td>{{ standings.table[i].goalDifference }}</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div> 
    </div>

    <!-- check to see if user did not click UCL OR FIFA World Cup, therefore show the usual table format -->
    <div *ngIf="teamsStandingTable && teams.competition.id != 2001 && teams.competition.id != 2000">
        <table class="table table-striped table-responsive-lg table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    <th scope="col">Played</th>
                    <th scope="col">Points</th>
                    <th scope="col">Won</th>
                    <th scope="col">Drawn</th>
                    <th scope="col">Lost</th>
                    <th scope="col">GF</th>
                    <th scope="col">GA</th>
                    <th scope="col">GD</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of teamsStandingTable; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                    <img src={{team.team.crestUrl}} class="mr-2" style="width: 20px">
                    {{ team.team.name }}
                    </td>
                    <td>{{ team.playedGames }}</td>
                    <td>{{ team.points }}</td>
                    <td>{{ team.won }}</td>
                    <td>{{ team.draw }}</td>
                    <td>{{ team.lost }}</td>
                    <td>{{ team.goalsFor }}</td>
                    <td>{{ team.goalsAgainst }}</td>
                    <td>{{ team.goalDifference }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
</main>

</div>

<app-footer></app-footer>
