<main role="main">
<section class="text-center container1">

    <h1>TABLE</h1>

</section>

<section>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team</th>
            <th scope="col">Games Played</th>
            <th scope="col">Points</th>
            <th scope="col">Won</th>
            <th scope="col">Drawn</th>
            <th scope="col">Lost</th>
            <th scope="col">GF</th>
            <th scope="col">GA</th>
            <th scope="col">GD</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let team of teams; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
            {{ country.name }}
            </td>
            <td>{{ country.area | number }}</td>
            <td>{{ country.population | number }}</td>
        </tr> -->
    </tbody>
    </table>
</section>
</main>