      
<div class="">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">Features page</h1>
                    <p class="lead text-muted mb-0">ByteWorks Football Club web page.</p>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/goal_0v5v.svg" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
    