
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.pexels.com/photos/2413089/pexels-photo-2413089.jpeg?cs=srgb&dl=bleachers-daylight-daytime-2413089.jpg&fm=jpg');
  background-size: cover;
  background-position: center center;
}