$primary-color: #FDC624;

.form-inline {
    color: white;
}

.signup {
    color: $primary-color;
}

.login {
    color: inherit;
}

.dropdown-item:hover {
    background : $primary-color;
    font-weight: bold;
}
