
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.pexels.com/photos/1003869/pexels-photo-1003869.jpeg?cs=srgb&dl=architectural-design-bird-s-eye-view-building-1003869.jpg&fm=jpg');
  background-size: cover;
  background-position: center center;
}