
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.pexels.com/photos/1003869/pexels-photo-1003869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400');
  background-size: cover;
  background-position: center center;
}