/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$primary-color: #FDC624;

body{
    font-family: roboto;
    max-width: 1440px !important;
}

.container1{
    margin-top: 50px;
}

// @media only screen and (max-width: 991px) {
//     .container1{
//         margin-top: 100px;
//     }
//   }

@media only screen and (max-width: 768px) {
    .container1{
        margin-top: 80px;
    }
}

.header-style-home {
    font-size: 27px ;text-shadow: black 0px 2px !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.recent {
    margin-top: 100px;
    }

ul > li > a.nav-link {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

ul > li > a.nav-link:hover {
    background: $primary-color;
    // box-shadow: 1px 1px 1px;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
}

div.card-body{
    margin-bottom: 1px;
    font-size: 14px;
}

div.card-body:hover {
    box-shadow: 20px 8px 16px 10px rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 5px;
}